	
	/* -- Stylesheet -- */

	.module-instagram h4{
		display: block;
	}

	.instagram{
		padding: 10px 0;
		display: block;		
	}

	.instagram .item{	
		padding: 10px;		
	}

	.instagram .item img{
		width: 100%;
	}

	.instagram .item a{
		position: relative;
		display: block;
	}

	.instagram .item.hover-on a:hover .fa:before{
		-webkit-animation-name: hvr-pop;
		animation-name: hvr-pop;
		-webkit-animation-duration: 0.3s;
		animation-duration: 0.3s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
		opacity: 1;
	}

	.instagram .item.hover-on a:hover:before{
		opacity: 1;
		transition: all .3s linear 0s;
	}

	.instagram .item a:before{
		display: inline-block;
		position: absolute;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 14px;
		z-index: 1;
		content: attr(data-like);

		border-radius: 50px;
		transform: translate(-50%, -50%);
		text-align: center;
		left: 50%;
		top: 50%;
		font-weight: bold;
		color: #444;

		opacity: 0;
	}

	.instagram .item .fa{
		position: absolute;
		transform:  perspective(1px) translateZ(0) translate(-50%, -50%);
		left: 50%;
		top: 50%;
		font-size: 65px;
		color: rgba(255,255,255,0.9);
		opacity: 0;		
	}

	@-webkit-keyframes hvr-pop {
		50% {
			-webkit-transform: scale(1.2) perspective(1px) translateZ(0) translate(-40%, -40%);
			transform: scale(1.2) perspective(1px) translateZ(0) translate(-40%, -40%) ;
		}
	}
	
	@keyframes hvr-pop {
		50% {
			-webkit-transform: scale(1.2) perspective(1px) translateZ(0) translate(-40%, -40%);
			transform: scale(1.2) perspective(1px) translateZ(0) translate(-40%, -40%);
		}
	}

	h1 .entry, a .entry{
		display: none;
	}

	.slick-prev{
		left: -15px;
	}

	.slick-next {
		right: -15px;
	}

